body{
  background-color:#EAF6F6;
}
hr{
  background-color: white;
  width: 20%;
  border-style:none;
  border-top-style: dotted;
  border-width: 6px;
}
h1{
    color:#6D9886;
}
h3{
    color:#6D9886;
}
